.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #3b81e5;
  top: -22px;
  left: 0;
}

.messaging {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 82vh;
  overflow-x: hidden;
}


input {
  height: 30px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #3b81e5;
  width: 70%;
  padding: 0px 5px;
}

button {
  height: 26px;
  outline: none;
  border: 1px solid #3b81e5;
  border-radius: 10px;
  cursor: pointer;
}
